<div class="container">

    <div class="user-card">
        <div class="login-box">
            <h1 class="login-box__title">Reset Password</h1>

            <form class="email-form" method="post">
                <input type="email" name="email" id="email" placeholder="LiveReacting account email">
                <input type="submit" name="login" value="Reset" class="js-send-email-to-reset login">
            </form>

            <form class="password-form" method="post" style="display: none;">
                <input type="password" name="password" class="password" id="password" placeholder="Enter New Password">
                <input type="password" name="confirm_password" class="confirm_password" id="confirm_password" placeholder="Confirm New Password">
                <input type="submit" name="login" value="Set New Password" class="js-send-password-reset login">
            </form>

        </div>

        <div class="footer">
            <span>or </span><a class="toggle-link" routerLink="/login">Back to login</a>
        </div><br>

    </div>

</div>