
<app-header></app-header>

<header class="header0 container-fluid0 sticky-top" id="header0">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       
       <div class="container-fluid"> <span class="header_toggle pt-50" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
            aria-controls="staticBackdrop"> <i class='bx bx-menu' id="header-toggle"></i> </span>
  
        <span class="h5 text-white">Profile</span>
    </div>

</nav>
</header>
<!--Container Main start-->
<div class="pt-5 top-space 
 container-fluid">
    <div class="col-md-12">

            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../../../assets/img/user.jpg">
                        </a>
                    </div>
<br><br>
                    <div class="content">
                        <h4 class="card-title">Antu Patidar</h4>
                        <p class="card-content">
                            <strong>email:</strong> antu@gmail.com
                            <br>
                            <br>
                            <strong class="js-available-posts-count">0</strong> credits
                            besides subscription plan

                        </p><hr>
                        

                        
                            <p class="text-danger" style="text-align: center">You don't have active subscription</p>
                            <button type="button" class="btn btn-success buy-posts-btn btn-buy-credits" data-toggle="modal" data-target=".bs-example-modal-lg">Explore our subscription
                                plans
                                <div class="ripple-container"></div>
                            </button>
                        
                        <p></p>
                        <hr>
                        <a href="/logout" class="btn btn-primary">Logout</a>

                        <hr>

                        <a href="/deleteFacebookPermissions" target="_blank" class="btn btn-primary btn-sm">Revoke
                            Facebook app permissions</a>
                        <p style="font-size: 12px">If you want to completely remove your account <span onclick="window.chaport.q('open');" style="cursor: pointer; text-decoration: underline">send us a message</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    